

.nav-color_dark_ostara{
    background-color: black!important;
}

.dark-ostara-name-hide{
    display: none;
}

.dark-ostara-name-show{
    display: block;
}


.dark_ostara_name{
    position: fixed;
    z-index: 10000;
    color: white;
    font-size: 1.3rem;
    font-family: Arial, sans-serif!important;
    top: 10px;
    left: 60px;
    text-decoration: none;
}