{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'charts/css/chart.css' %}"/>
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div style="height: 5px;"></div>
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>

    <div id="scrollbuttonup" class="scrollbuttonup">
        <span id="upbutton"><i class="fa-solid fa-circle-arrow-up" onclick="up()"></i></span>
    </div>
    <div id="scrollbuttondown" class="scrollbuttondown button_fade">
        <span id="downbutton"><i class="fa-solid fa-circle-arrow-down" onclick="down()"></i></span>
    </div>

    {% if not request.user.is_authenticated %}
    <div class="row">
      <div class="col-sm-12 center-content login-header">
          Login to access PID settings <a href="{% url 'login' %}">Login</a>
      </div>
    </div>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-12 center-content">
          <div class="pid-heading">Temperature PID Settings</div>
              <div class="inline_buttons">
                  <div>
                      <span>P </span>
                      <button id="temp_p_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                          <input id="temp_p_input_val" type="number" step="0.01" min="0">
                      <button id="temp_p_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
                  </div>
                  <div>
                      <span>I </span>
                      <button id="temp_i_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                          <input id="temp_i_input_val" type="number" step="0.01" min="0">
                      <button id="temp_i_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
                  </div>
                  <div>
                      <span>D</span>
                      <button id="temp_d_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                          <input id="temp_d_input_val" type="number" step="0.01" min="0">
                      <button id="temp_d_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
                  </div>
              </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12 chart_box">
            <div class="chart-container" style="position: relative; height:45vw; width:95%">
              <canvas id="mixedChart"></canvas>
            </div>
      </div>
      <div class="row">
          <div class="col-sm-12 chart_box">
              <div class="chart-container" style="position: relative; height:45vw; width:95%">
                 <canvas id="tempChart"></canvas>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12 chart_box">
            <div class="chart-container" style="position: relative; height:45vw; width:95%">
               <canvas id="tempPChart"></canvas>
          </div>
        </div>
     </div>
        <div class="row">
            <div class="col-sm-12 chart_box">
                <div class="chart-container" style="position: relative; height:45vw; width:95%">
                <canvas id="tempIChart"></canvas>
            </div>
            </div>
        </div>
        </div>
    {% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-sm-12 center-content">
        <div class="pid-heading">Humidity PID Settings</div>
        <div class="inline_buttons">
            <div>
                <span>P </span>
                <button id="hum_p_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                    <input id="hum_p_input_val" type="number" step="0.01" min="0">
                <button id="hum_p_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
            </div>
            <div>
                <span>I </span>
                <button id="hum_i_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                    <input id="hum_i_input_val" type="number" step="0.01" min="0">
                <button id="hum_i_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
            </div>
            <div>
                <span>D</span>
                <button id="hum_d_down" type="button" class="btn is-light"><i class="fa-solid fa-angle-down"></i></button>
                    <input id="hum_d_input_val" type="number" step="0.01" min="0">
                <button id="hum_d_up" type="button" class="btn is-light" ><i class="fa-solid fa-angle-up"></i></button>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
      <div class="row">
           <div class="col-sm-12 chart_box">
               <div class="chart-container" style="position: relative; height:45vw; width:95%">
                 <canvas id="humChart"></canvas>
               </div>
           </div>
       </div>
       <div class="row">
        <div class="col-sm-12 chart_box">
            <div class="chart-container" style="position: relative; height:45vw; width:95%">
               <canvas id="humPChart"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 chart_box">
            <div class="chart-container" style="position: relative; height:45vw; width:95%">
               <canvas id="humIChart"></canvas>
          </div>
        </div>
     </div>
        <!-- Refresh button -->
        <div class="row">
            <div class="col-sm-12">
                <button id="refresh" type="button" class="btn refresh-button" ><i class="fa-solid fa-arrow-rotate-right"></i></button>
            </div>
        </div>
    </div>
    <div style="height:25px"></div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'charts/js/charts.js' %}"></script>
    <script src="{% static 'charts/js/chartrefresh.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script src="{% static 'charts/js/chartbuttons.js' %}"></script>
    <script src="{% static 'charts/js/chartpidvalues.js' %}"></script>
    {% endif %}
{% endblock %}
